.container {
    margin-top: 80px;
}

#image-container {
    min-height: 100%;
}

#image-container .card {
    margin-bottom: 5px;
}

#image-container .card .card-body {
    padding: 0;
}

#image-container .card img {
    max-width: 100%;
}

#photostack-original-container, #photostack-canvas-container {
    display: none;
}