.container-fluid, .container {
    margin-top: 90px;
}

#photostack-preview img {
    max-width: 100%;
    margin: -1.25rem;
}

#photostack-original-container, #photostack-canvas-container, #photostack-watermark-sample {
    display: none;
}

.card {
    margin-bottom: 15px;
}

/* Hide side ad unit on small screens */

@media (max-width: 767.98px) {
    .photostack-ad {
        display: none
    }
}